<div style="text-align: center;background-color: #fff;height:9vh;">
    <div style="float:left;padding-top: 2vh;padding-left: 10vw;">
        <img width="40vw" src="../assets/logo/logopng.png" alt="">
    </div>
    <div style="padding-top: 3.5vh;">
        <span>Ghimbav un oras pentru OAMENI</span>
    </div>
</div>
<div style="height:1vh"></div>
<mat-grid-list cols="2" rowHeight="44vh">
    <mat-grid-tile style="background: lightblue; ">
        <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile style="background: blue; ">
        <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile style="background: pink; ">
        <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile style="background: yellowgreen; ">
        <app-card></app-card>
    </mat-grid-tile>
</mat-grid-list>