<mat-grid-list cols="2" rowHeight="42vh">
    <mat-grid-tile style="background-image: url('../assets/img/s.jpg');background-size:cover;">
        <app-card [routerLink]="['/healthy']" [letter]="'1'" [title]="'Sānātos'"></app-card>
    </mat-grid-tile>
    <mat-grid-tile style="background-image: url('../assets/img/e.jpg');background-size:cover; ">
        <app-card [routerLink]="['/educated']" [letter]="'2'" [title]="'Educat'"></app-card>
    </mat-grid-tile>
    <mat-grid-tile style="background-image: url('../assets/img/m.jpg');background-size:cover; ">
        <app-card [routerLink]="['/modern']" [letter]="'3'" [title]="'Modern'"></app-card>
    </mat-grid-tile>
    <mat-grid-tile style="background-image: url('../assets/img/m.png');background-size:cover;">
        <app-card [routerLink]="['/good']" [letter]="'4'" [title]="'Bun'"></app-card>
    </mat-grid-tile>
</mat-grid-list>